:root{
    --dark-blue: #02072c;
    --purple: #6d05dc;
}

body{
    background-color: var(--dark-blue);
    color: white;
}


.navigation{
    background-color: var(--purple);
    padding-bottom: 1%;
    padding-top: 3%;
    
}




.heading{
    margin-top: 5%;
    margin-bottom: 3rem;
    text-align: center;
}

.input-name{
    display: block;
    margin-left: 32.5rem;
    margin-bottom: 0.5rem;
    font-size: large;
}

.angle-input{
    display: block;
    margin: auto;
    padding-right: 20rem;
    padding-top: 1rem;
    margin-bottom: 2rem;

}

#submit-btn{
 margin-left: 34%;
 padding-left: 12rem;
 padding-right: 13rem;
 padding-bottom: 0.5%;
 margin-bottom: 4rem;
 background-color: var(--purple);
 color: white;
 font-size: medium;
 font-weight: 500;
 display: block;
}

#output{
    color: var(--purple);
    margin-top: 5rem;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}