:root{
    --dark-blue: #02072c;
    --purple: #6d05dc;
}

body{
    background-color: var(--dark-blue);
    color: white;
    display: block;
    margin: auto;
}


.navigation{
    background-color: var(--purple);
    padding-bottom: 1%;
    padding-top: 3%;
    
}

.link{
    color: white;
    text-decoration: none;
    padding-left: 1%;
    font-size: larger;
}

.heading{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.input-name{
    display: block;
    margin-left: 27%;
    margin-bottom: 0.5%;
    font-size: large;

}

.angle-input{
    margin-left: 27%;
    width: 50%;
    height: 5vh;
    margin-bottom: 2%;
    font-size: larger;
  
}


#submit-btn{
margin-top: 2%;
 margin-left: 27%;
 width: 50%;
 height: 5vh;
 padding-bottom: 0.5%;
 margin-bottom: 4rem;
 background-color: var(--purple);
 color: white;
 font-size: large;
 font-weight: 500;
 display: block;
}

#output{
    margin-top: 4rem;
    text-align: center;
    font-size: x-large;
}